<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OceanImplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.7:8080/WS/Ocean" binding="basicHttpBinding"
                bindingConfiguration="OceanImplPortBinding" contract="OceanReference1.OceanInterface"
                name="OceanImplPort" />
        </client>
    </system.serviceModel>
</configuration>